.container-page {
    height: auto;
    display: grid;
    gap: 1rem;
}
.container-table{
    display: flex;
    justify-content: center;
    /* height: 70vh; */
    align-items: center 
}

.container-loader{
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}